{% extends "layout.html" %}

{% block main %}

    <!-- http://getbootstrap.com/docs/4.1/content/typography/ -->
    <h1 class="mb-3">Survey</h1>

    <!-- http://getbootstrap.com/docs/4.1/components/forms/ -->
    <form action="/form" method="post" class="needs-validation" novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="firstName">First name</label>
          <input autofocus type="text" name="firstName" class="form-control" id="firstName" placeholder="First name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide your first name.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="lastName">Last name</label>
          <input type="text" name="lastName" class="form-control" id="lastName" placeholder="Last name" required>
          <div class="valid-feedback">
            Looks good!
          </div>
          <div class="invalid-feedback">
            Please provide your last name.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-2 mb-3">
          <label for="years">Years</label>
          <input type="number" name="years" class="form-control" id="years" required>
          <div class="invalid-feedback">
            Please provide your age.
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="country">Country</label>
          <input type="text" name="country" class="form-control" id="country" required>
          <div class="invalid-feedback">
            Please provide a Country.
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="form group">
        <div class="form-row col-md-4 mb-3">
          <label for="gender" class="form-check-label">Gender</label>
          <select class="form-control"name="gender" id="gender" required>
            <option class="custom-select" disabled selected value="">Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
          <div class="invalid-feedback">
            Please provide your Gender
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
          <label class="form-check-label" for="invalidCheck">
            Agree to terms and conditions
          </label>
          <div class="invalid-feedback">
            You must agree before submitting.
          </div>
          <div class="valid-feedback">
            Looks good!
          </div>
        </div>
      </div>
      <button class="btn btn-primary" type="submit">Submit form</button>
    </form>


    <script>

        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
          'use strict';
          window.addEventListener('load', function() {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName('needs-validation');
            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function(form) {
              form.addEventListener('submit', function(event) {
                if (form.checkValidity() === false) {
                  event.preventDefault();
                  event.stopPropagation();
                  alert("Please complete all the fields");
                }
                form.classList.add('was-validated');
              }, false);
            });
          }, false);
        })();

    </script>

{% endblock %}
